.registrationContainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  min-height: 100%;

  .title {
    margin: 24px 0;
  }

  .textField {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
  }

  .checkboxContainer {
    align-items: center;
    display: flex;
    margin-left: -8px;
  }

  .actionButtonsContainer {
    padding: 16px 0;
  }
}
